@import "../font/font-awesome/css/font-awesome.min.css";
    .dwqa-container .dwqa-btn, .dwqa-container .login-box input[type="submit"] {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dwqa-container .dwqa-btn:focus, .dwqa-container .login-box input[type="submit"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.dwqa-container .dwqa-btn:hover, .dwqa-container .login-box input[type="submit"]:hover, .dwqa-container .dwqa-btn:focus, .dwqa-container .login-box input[type="submit"]:focus {
    color: #333;
    text-decoration: none;
    background-image: none;
}
.dwqa-container .dwqa-btn.disabled, .dwqa-container .login-box input[type="submit"].disabled, .dwqa-container .dwqa-btn[disabled], .dwqa-container .login-box input[type="submit"][disabled], fieldset[disabled] .dwqa-container .dwqa-btn, fieldset[disabled] .dwqa-container .login-box input[type="submit"] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dwqa-container .dwqa-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.dwqa-container .dwqa-btn-default:hover, .dwqa-container .dwqa-btn-default:focus, .dwqa-container .dwqa-btn-default:active, .dwqa-container .dwqa-btn-default.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-default {
    opacity: 1;
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.dwqa-container .dwqa-btn-default:active, .dwqa-container .dwqa-btn-default.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-default {
    background-image: none;
}
.dwqa-container .dwqa-btn-default.disabled, .dwqa-container .dwqa-btn-default[disabled], fieldset[disabled] .dwqa-container .dwqa-btn-default, .dwqa-container .dwqa-btn-default.disabled:hover, .dwqa-container .dwqa-btn-default[disabled]:hover, fieldset[disabled] .dwqa-container .dwqa-btn-default:hover, .dwqa-container .dwqa-btn-default.disabled:focus, .dwqa-container .dwqa-btn-default[disabled]:focus, fieldset[disabled] .dwqa-container .dwqa-btn-default:focus, .dwqa-container .dwqa-btn-default.disabled:active, .dwqa-container .dwqa-btn-default[disabled]:active, fieldset[disabled] .dwqa-container .dwqa-btn-default:active, .dwqa-container .dwqa-btn-default.disabled.active, .dwqa-container .dwqa-btn-default[disabled].active, fieldset[disabled] .dwqa-container .dwqa-btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}
.dwqa-container .dwqa-btn-primary, .dwqa-container .login-box input[type="submit"] {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.dwqa-container .dwqa-btn-primary:hover, .dwqa-container .login-box input[type="submit"]:hover, .dwqa-container .dwqa-btn-primary:focus, .dwqa-container .login-box input[type="submit"]:focus, .dwqa-container .dwqa-btn-primary:active, .dwqa-container .login-box input[type="submit"]:active, .dwqa-container .dwqa-btn-primary.active, .dwqa-container .login-box input[type="submit"].active, .open .dropdown-toggle.dwqa-container .dwqa-btn-primary, .open .dropdown-toggle.dwqa-container .login-box input[type="submit"] {
    opacity: 1;
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.dwqa-container .dwqa-btn-primary:active, .dwqa-container .login-box input[type="submit"]:active, .dwqa-container .dwqa-btn-primary.active, .dwqa-container .login-box input[type="submit"].active, .open .dropdown-toggle.dwqa-container .dwqa-btn-primary, .open .dropdown-toggle.dwqa-container .login-box input[type="submit"] {
    background-image: none;
}
.dwqa-container .dwqa-btn-primary.disabled, .dwqa-container .login-box input[type="submit"].disabled, .dwqa-container .dwqa-btn-primary[disabled], .dwqa-container .login-box input[type="submit"][disabled], fieldset[disabled] .dwqa-container .dwqa-btn-primary, fieldset[disabled] .dwqa-container .login-box input[type="submit"], .dwqa-container .dwqa-btn-primary.disabled:hover, .dwqa-container .login-box input[type="submit"].disabled:hover, .dwqa-container .dwqa-btn-primary[disabled]:hover, .dwqa-container .login-box input[type="submit"][disabled]:hover, fieldset[disabled] .dwqa-container .dwqa-btn-primary:hover, fieldset[disabled] .dwqa-container .login-box input[type="submit"]:hover, .dwqa-container .dwqa-btn-primary.disabled:focus, .dwqa-container .login-box input[type="submit"].disabled:focus, .dwqa-container .dwqa-btn-primary[disabled]:focus, .dwqa-container .login-box input[type="submit"][disabled]:focus, fieldset[disabled] .dwqa-container .dwqa-btn-primary:focus, fieldset[disabled] .dwqa-container .login-box input[type="submit"]:focus, .dwqa-container .dwqa-btn-primary.disabled:active, .dwqa-container .login-box input[type="submit"].disabled:active, .dwqa-container .dwqa-btn-primary[disabled]:active, .dwqa-container .login-box input[type="submit"][disabled]:active, fieldset[disabled] .dwqa-container .dwqa-btn-primary:active, fieldset[disabled] .dwqa-container .login-box input[type="submit"]:active, .dwqa-container .dwqa-btn-primary.disabled.active, .dwqa-container .login-box input[type="submit"].disabled.active, .dwqa-container .dwqa-btn-primary[disabled].active, .dwqa-container .login-box input[type="submit"][disabled].active, fieldset[disabled] .dwqa-container .dwqa-btn-primary.active, fieldset[disabled] .dwqa-container .login-box input[type="submit"].active {
    background-color: #428bca;
    border-color: #357ebd;
}
.dwqa-container .dwqa-btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.dwqa-container .dwqa-btn-warning:hover, .dwqa-container .dwqa-btn-warning:focus, .dwqa-container .dwqa-btn-warning:active, .dwqa-container .dwqa-btn-warning.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-warning {
    opacity: 1;
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}
.dwqa-container .dwqa-btn-warning:active, .dwqa-container .dwqa-btn-warning.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-warning {
    background-image: none;
}
.dwqa-container .dwqa-btn-warning.disabled, .dwqa-container .dwqa-btn-warning[disabled], fieldset[disabled] .dwqa-container .dwqa-btn-warning, .dwqa-container .dwqa-btn-warning.disabled:hover, .dwqa-container .dwqa-btn-warning[disabled]:hover, fieldset[disabled] .dwqa-container .dwqa-btn-warning:hover, .dwqa-container .dwqa-btn-warning.disabled:focus, .dwqa-container .dwqa-btn-warning[disabled]:focus, fieldset[disabled] .dwqa-container .dwqa-btn-warning:focus, .dwqa-container .dwqa-btn-warning.disabled:active, .dwqa-container .dwqa-btn-warning[disabled]:active, fieldset[disabled] .dwqa-container .dwqa-btn-warning:active, .dwqa-container .dwqa-btn-warning.disabled.active, .dwqa-container .dwqa-btn-warning[disabled].active, fieldset[disabled] .dwqa-container .dwqa-btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.dwqa-container .dwqa-btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.dwqa-container .dwqa-btn-danger:hover, .dwqa-container .dwqa-btn-danger:focus, .dwqa-container .dwqa-btn-danger:active, .dwqa-container .dwqa-btn-danger.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-danger {
    opacity: 1;
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}
.dwqa-container .dwqa-btn-danger:active, .dwqa-container .dwqa-btn-danger.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-danger {
    background-image: none;
}
.dwqa-container .dwqa-btn-danger.disabled, .dwqa-container .dwqa-btn-danger[disabled], fieldset[disabled] .dwqa-container .dwqa-btn-danger, .dwqa-container .dwqa-btn-danger.disabled:hover, .dwqa-container .dwqa-btn-danger[disabled]:hover, fieldset[disabled] .dwqa-container .dwqa-btn-danger:hover, .dwqa-container .dwqa-btn-danger.disabled:focus, .dwqa-container .dwqa-btn-danger[disabled]:focus, fieldset[disabled] .dwqa-container .dwqa-btn-danger:focus, .dwqa-container .dwqa-btn-danger.disabled:active, .dwqa-container .dwqa-btn-danger[disabled]:active, fieldset[disabled] .dwqa-container .dwqa-btn-danger:active, .dwqa-container .dwqa-btn-danger.disabled.active, .dwqa-container .dwqa-btn-danger[disabled].active, fieldset[disabled] .dwqa-container .dwqa-btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.dwqa-container .dwqa-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.dwqa-container .dwqa-btn-success:hover, .dwqa-container .dwqa-btn-success:focus, .dwqa-container .dwqa-btn-success:active, .dwqa-container .dwqa-btn-success.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-success {
    opacity: 1;
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}
.dwqa-container .dwqa-btn-success:active, .dwqa-container .dwqa-btn-success.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-success {
    background-image: none;
}
.dwqa-container .dwqa-btn-success.disabled, .dwqa-container .dwqa-btn-success[disabled], fieldset[disabled] .dwqa-container .dwqa-btn-success, .dwqa-container .dwqa-btn-success.disabled:hover, .dwqa-container .dwqa-btn-success[disabled]:hover, fieldset[disabled] .dwqa-container .dwqa-btn-success:hover, .dwqa-container .dwqa-btn-success.disabled:focus, .dwqa-container .dwqa-btn-success[disabled]:focus, fieldset[disabled] .dwqa-container .dwqa-btn-success:focus, .dwqa-container .dwqa-btn-success.disabled:active, .dwqa-container .dwqa-btn-success[disabled]:active, fieldset[disabled] .dwqa-container .dwqa-btn-success:active, .dwqa-container .dwqa-btn-success.disabled.active, .dwqa-container .dwqa-btn-success[disabled].active, fieldset[disabled] .dwqa-container .dwqa-btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.dwqa-container .dwqa-btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.dwqa-container .dwqa-btn-info:hover, .dwqa-container .dwqa-btn-info:focus, .dwqa-container .dwqa-btn-info:active, .dwqa-container .dwqa-btn-info.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-info {
    opacity: 1;
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}
.dwqa-container .dwqa-btn-info:active, .dwqa-container .dwqa-btn-info.active, .open .dropdown-toggle.dwqa-container .dwqa-btn-info {
    background-image: none;
}
.dwqa-container .dwqa-btn-info.disabled, .dwqa-container .dwqa-btn-info[disabled], fieldset[disabled] .dwqa-container .dwqa-btn-info, .dwqa-container .dwqa-btn-info.disabled:hover, .dwqa-container .dwqa-btn-info[disabled]:hover, fieldset[disabled] .dwqa-container .dwqa-btn-info:hover, .dwqa-container .dwqa-btn-info.disabled:focus, .dwqa-container .dwqa-btn-info[disabled]:focus, fieldset[disabled] .dwqa-container .dwqa-btn-info:focus, .dwqa-container .dwqa-btn-info.disabled:active, .dwqa-container .dwqa-btn-info[disabled]:active, fieldset[disabled] .dwqa-container .dwqa-btn-info:active, .dwqa-container .dwqa-btn-info.disabled.active, .dwqa-container .dwqa-btn-info[disabled].active, fieldset[disabled] .dwqa-container .dwqa-btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.dwqa-container .dwqa-btn-link {
    color: #428bca;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
}
.dwqa-container .dwqa-btn-link, .dwqa-container .dwqa-btn-link:active, .dwqa-container .dwqa-btn-link[disabled], fieldset[disabled] .dwqa-container .dwqa-btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dwqa-container .dwqa-btn-link, .dwqa-container .dwqa-btn-link:hover, .dwqa-container .dwqa-btn-link:focus, .dwqa-container .dwqa-btn-link:active {
    border-color: transparent;
}
.dwqa-container .dwqa-btn-link:hover, .dwqa-container .dwqa-btn-link:focus {
    color: #2a6496;
    text-decoration: underline;
    background-color: transparent;
}
.dwqa-container .dwqa-btn-link[disabled]:hover, fieldset[disabled] .dwqa-container .dwqa-btn-link:hover, .dwqa-container .dwqa-btn-link[disabled]:focus, fieldset[disabled] .dwqa-container .dwqa-btn-link:focus {
    color: #999;
    text-decoration: none;
}
.dwqa-btn-lg {
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px;
}
.dwqa-btn-sm {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}
.dwqa-btn-xs {
    padding: 1px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}
.dwqa-btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.dwqa-btn-block+.dwqa-btn-block {
    margin-top: 5px;
}
input[type="submit"].dwqa-btn-block, input[type="reset"].dwqa-btn-block, input[type="button"].dwqa-btn-block {
    width: 100%}
.dwqa-btn-group, .dwqa-btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.dwqa-btn-group>.dwqa-btn, .dwqa-btn-group-vertical>.dwqa-btn {
    position: relative;
    float: left;
}
.dwqa-btn-group>.dwqa-btn:hover, .dwqa-btn-group-vertical>.dwqa-btn:hover, .dwqa-btn-group>.dwqa-btn:focus, .dwqa-btn-group-vertical>.dwqa-btn:focus, .dwqa-btn-group>.dwqa-btn:active, .dwqa-btn-group-vertical>.dwqa-btn:active, .dwqa-btn-group>.dwqa-btn.active, .dwqa-btn-group-vertical>.dwqa-btn.active {
    z-index: 2;
}
.dwqa-btn-group>.dwqa-btn:focus, .dwqa-btn-group-vertical>.dwqa-btn:focus {
    outline: none;
}
.dwqa-btn-group .dwqa-btn+.dwqa-btn, .dwqa-btn-group .dwqa-btn+.dwqa-btn-group, .dwqa-btn-group .dwqa-btn-group+.dwqa-btn, .dwqa-btn-group .dwqa-btn-group+.dwqa-btn-group {
    margin-left: -1px;
}
.dwqa-btn-toolbar:before, .dwqa-btn-toolbar:after {
    content: " ";
    display: table;
}
.dwqa-btn-toolbar:after {
    clear: both;
}
.dwqa-btn-toolbar .dwqa-btn-group {
    float: left;
}
.dwqa-btn-toolbar>.dwqa-btn+.dwqa-btn, .dwqa-btn-toolbar>.dwqa-btn-group+.dwqa-btn, .dwqa-btn-toolbar>.dwqa-btn+.dwqa-btn-group, .dwqa-btn-toolbar>.dwqa-btn-group+.dwqa-btn-group {
    margin-left: 5px;
}
.dwqa-btn-group>.dwqa-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.dwqa-btn-group>.dwqa-btn:first-child {
    margin-left: 0;
}
.dwqa-btn-group>.dwqa-btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.dwqa-btn-group>.dwqa-btn:last-child:not(:first-child), .dwqa-btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.dwqa-btn-group>.dwqa-btn-group {
    float: left;
}
.dwqa-btn-group>.dwqa-btn-group:not(:first-child):not(:last-child)>.dwqa-btn {
    border-radius: 0;
}
.dwqa-btn-group>.dwqa-btn-group:first-child>.dwqa-btn:last-child, .dwqa-btn-group>.dwqa-btn-group:first-child>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.dwqa-btn-group>.dwqa-btn-group:last-child>.dwqa-btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.dwqa-btn-group .dropdown-toggle:active, .dwqa-btn-group.open .dropdown-toggle {
    outline: 0;
}
.dwqa-btn-group-xs>.dwqa-btn {
    padding: 1px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}
.dwqa-btn-group-sm>.dwqa-btn {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}
.dwqa-btn-group-lg>.dwqa-btn {
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 6px;
}
.dwqa-btn-group>.dwqa-btn+.dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
}
.dwqa-btn-group>.dwqa-btn-lg+.dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}
.dwqa-btn-group.open .dropdown-toggle.dwqa-btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dwqa-btn .caret {
    margin-left: 0;
}
.dwqa-btn-lg .caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0;
}
.dropup .dwqa-btn-lg .caret {
    border-width: 0 5px 5px;
}
.dwqa-btn-group-vertical>.dwqa-btn, .dwqa-btn-group-vertical>.dwqa-btn-group, .dwqa-btn-group-vertical>.dwqa-btn-group>.dwqa-btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%}
.dwqa-btn-group-vertical>.dwqa-btn-group:before, .dwqa-btn-group-vertical>.dwqa-btn-group:after {
    content: " ";
    display: table;
}
.dwqa-btn-group-vertical>.dwqa-btn-group:after {
    clear: both;
}
.dwqa-btn-group-vertical>.dwqa-btn-group>.dwqa-btn {
    float: none;
}
.dwqa-btn-group-vertical>.dwqa-btn+.dwqa-btn, .dwqa-btn-group-vertical>.dwqa-btn+.dwqa-btn-group, .dwqa-btn-group-vertical>.dwqa-btn-group+.dwqa-btn, .dwqa-btn-group-vertical>.dwqa-btn-group+.dwqa-btn-group {
    margin-top: -1px;
    margin-left: 0;
}
.dwqa-btn-group-vertical>.dwqa-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.dwqa-btn-group-vertical>.dwqa-btn:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.dwqa-btn-group-vertical>.dwqa-btn:last-child:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.dwqa-btn-group-vertical>.dwqa-btn-group:not(:first-child):not(:last-child)>.dwqa-btn {
    border-radius: 0;
}
.dwqa-btn-group-vertical>.dwqa-btn-group:first-child>.dwqa-btn:last-child, .dwqa-btn-group-vertical>.dwqa-btn-group:first-child>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.dwqa-btn-group-vertical>.dwqa-btn-group:last-child>.dwqa-btn:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.dwqa-btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.dwqa-btn-group-justified>.dwqa-btn, .dwqa-btn-group-justified>.dwqa-btn-group {
    float: none;
    display: table-cell;
    width: 1%}
.dwqa-btn-group-justified>.dwqa-btn-group .dwqa-btn {
    width: 100%}
[data-toggle="buttons"]>.dwqa-btn>input[type="radio"], [data-toggle="buttons"]>.dwqa-btn>input[type="checkbox"] {
    display: none;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0;
}
.dwqa-dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: -9px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 90px;
    padding: 5px 0;
    margin: -1px 0 0;
    list-style: none;
    font-size: 13px;
    background-color: #fff;
    border-color: #999;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-clip: padding-box;
}
.dwqa-dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: -1px 0 0 !important;
}
.dwqa-dropdown-menu li {
    list-style: none;
    margin: 0 !important;
    list-style: none !important;
}
.dwqa-dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dwqa-dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dwqa-dropdown-menu li a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dwqa-dropdown-menu i {
    padding-right: 5px;
}
.dwqa-dropdown-menu .dwqa-dropdown-caret {
    position: absolute;
    left: auto;
    right: 10px;
    top: -7px;
    width: 12px;
    height: 7px;
    float: left;
    overflow: hidden;
}
.dwqa-dropdown-menu .dwqa-dropdown-caret .dwqa-caret-outer, .dwqa-dropdown-menu .dwqa-dropdown-caret .dwqa-caret-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: -1px;
}
.dwqa-dropdown-menu .dwqa-dropdown-caret .dwqa-caret-outer {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #aaa;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}
.dwqa-dropdown-menu .dwqa-dropdown-caret .dwqa-caret-inner {
    top: 1px;
    left: 1px;
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
}
.dwqa-dropdown-menu li a:hover, .dwqa-dropdown-menu li a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #428bca;
}
.dwqa-dropdown-menu .active a, .dwqa-dropdown-menu .active a:hover, .dwqa-dropdown-menu .active a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}
.dwqa-dropdown-menu .disabled a, .dwqa-dropdown-menu .disabled a:hover, .dwqa-dropdown-menu .disabled a:focus {
    color: #999;
}
.dwqa-dropdown-menu .disabled a:hover, .dwqa-dropdown-menu .disabled a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.open>.dwqa-dropdown-menu {
    display: block;
}
.open>a {
    outline: 0;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #999;
}
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}
.pull-right>.dwqa-dropdown-menu {
    right: 0;
    left: auto;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: ""}
.dropup .dwqa-dropdown-menu, .navbar-fixed-bottom .dropdown .dwqa-dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}
@media (min-width:768px) {
    .navbar-right .dwqa-dropdown-menu {
    right: 0;
    left: auto;
}
}.dwqa-list-question {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-list-question .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) no-repeat center 40%;
    z-index: 1;
    display: none;
}
.dwqa-list-question .select {
    position: absolute;
    top: 15px;
    right: 20px;
}
.dwqa-list-question .select li:hover {
    background: #ddd;
}
.dwqa-list-question .select a {
    color: #3a3a3a;
    display: block;
}
.dwqa-list-question .select .current-select {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ccc;
    line-height: 28px;
    min-width: 124px;
    padding: 0 40px 0 10px;
    position: relative;
    background-color: #f5f5f5;
}
.dwqa-list-question .select .current-select:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: 10px;
    top: 12px;
}
.dwqa-list-question .select ul {
    position: absolute;
    top: 30px;
    right: 0;
    border-bottom: 1px solid #ddd;
    border-top: none;
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
    z-index: 9999;
}
.dwqa-list-question .select ul li {
    display: block;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #f3f3f3;
    width: auto;
    padding: 0 10px;
    cursor: pointer;
    line-height: 25px;
    margin: 0;
}
.dwqa-list-question .select ul li:first-child {
    border-top: none;
}
.dwqa-list-question .filter-bar {
    border: 1px solid #ddd;
    border-bottom: 0;
    position: relative;
}
.dwqa-list-question .filter-bar>ul {
    margin: 0;
}
.dwqa-list-question .filter-bar>ul>li {
    display: block;
}
.dwqa-list-question .filter-bar .order {
    padding: 0;
    margin: 0;
    border-bottom: 0;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 20px;
    text-align: center;
}
.dwqa-list-question .filter-bar .order li {
    display: inline-block;
    border-style: solid;
    border-width: 1px 1px 0;
    border-color: transparent;
    background: transparent;
    color: #333;
    font-size: 13px;
    -webkit-transition: border-color .3s ease-out;
    transition: border-color .3s ease-out;
}
.dwqa-list-question .filter-bar .order li.active a {
    padding: 0;
    color: #666;
    text-decoration: none !important;
}
.dwqa-list-question .filter-bar .order li:last-child {
    margin-right: 0;
}
.dwqa-list-question .filter-bar .order span, .dwqa-list-question .filter-bar .order i {
    cursor: pointer;
    font-size: 12px;
}
.dwqa-list-question .filter-bar .order a {
    padding: 0;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    color: #666;
}
.dwqa-list-question .filter-bar .order i {
    display: inline-block;
    position: relative;
    top: 0;
    padding-left: 4px;
}
.dwqa-list-question .filter {
    margin: 0;
    padding: 15px 20px;
    position: relative;
    border-bottom: 1px solid #ddd;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-list-question .filter.sort-by {
    height: 60px;
}
.dwqa-list-question .filter ul {
    margin: 0;
    padding: 0;
}
.dwqa-list-question .filter li {
    display: inline-block;
    line-height: 30px;
    font-size: 90%;
    margin: 0 9px 0 0;
    font-weight: bold;
}
.dwqa-list-question .filter .status {
    padding-right: 150px;
}
.dwqa-list-question .filter .select li {
    margin: 0;
}
.dwqa-list-question .filter li.tag, .dwqa-list-question .filter .filter-by-category {
    display: inline-block;
    margin: 0;
}
.dwqa-list-question .filter .filter-by-category.select {
    left: 20px;
    right: auto;
}
.dwqa-list-question .filter .filter-by-category li {
    margin: 0;
    display: block;
}
.dwqa-list-question .filter .status a:hover, .dwqa-list-question .filter .active a {
    text-decoration: underline !important;
}
.dwqa-list-question .filter .status-new a {
    color: #f8bd0a;
}
.dwqa-list-question .filter .status-open a {
    color: #fd8345;
}
.dwqa-list-question .filter .status-replied a, .dwqa-list-question .filter .replied a {
    color: #1ba1e2;
}
.dwqa-list-question .filter .status-answered a, .dwqa-list-question .filter .answered a {
    color: #1ba1e2;
}
.dwqa-list-question .filter .status-resolved a, .dwqa-list-question .filter .resolved a {
    color: #578824;
}
.dwqa-list-question .filter .status-closed a, .dwqa-list-question .filter .closed a {
    color: #000;
}
.dwqa-list-question .filter .status-pending-review a, .dwqa-list-question .filter .pending-review a {
    color: #cd7bdd;
}
.dwqa-list-question .filter .status-overdue a, .dwqa-list-question .filter .overdue a {
    color: #f00;
}
.dwqa-list-question .filter .status-active a {
    text-decoration: underline !important;
}
@media (max-width:480px) {
    .dwqa-list-question .filter.sort-by {
    height: auto;
}
.dwqa-list-question .filter .status {
    margin: 0;
    padding-right: 0;
    text-align: center;
}
.dwqa-list-question .filter .filter-by-category.select {
    float: none;
    margin: 0;
    width: 100%;
    left: auto;
    top: 0;
    position: relative;
}
.dwqa-list-question .filter .filter-by-category.select .current-select {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-list-question .filter .order {
    display: none;
}
.dwqa-list-question .filter-bar>.order {
    display: none;
}
}.dwqa-list-question .filter-bar .dwqa-btn {
    margin-top: 0;
    z-index: 1;
    position: absolute;
    top: 15px;
    right: 20px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width:480px) {
    .dwqa-list-question .filter-bar .dwqa-btn {
    width: 100%;
    position: relative;
    z-index: 1;
    right: auto;
    top: 0;
}
}.dwqa-list-question .sticky-questions {
    border: 1px solid #ddd;
    border-top: 0;
}
.dwqa-list-question .sticky-questions .dwqa-sticky-question, .dwqa-list-question .sticky-questions .dwqa-sticky-question:hover {
    background-color: #ffffe0;
}
.dwqa-list-question .sticky-questions .fa-bookmark {
    color: #f00;
    margin-right: 5px;
}
.dwqa-list-question .dwqa-question {
    position: relative;
    min-height: 90px;
    padding: 20px 220px 20px 0;
    margin: 0;
    border-top: 1px solid #e6e6e6;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    overflow: visible;
    width: auto;
    float: none;
}
.dwqa-list-question .dwqa-question:first-child {
    border-top: 0;
}
.dwqa-list-question .dwqa-question:hover {
    background-color: #f2f2f2;
}
@media (max-width:480px) {
    .dwqa-list-question .dwqa-question {
    padding: 20px 15px 20px 0;
}
}.dwqa-list-question .not-found {
    padding: 10px;
    margin: 0;
}
.dwqa-list-question .dwqa-header {
    position: relative;
    width: 100%;
    padding: 6px 0 0 70px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-list-question .dwqa-header .dwqa-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dwqa-list-question .dwqa-meta {
    color: #888;
    font-size: 12px;
}
.dwqa-list-question .dwqa-meta .date {
    margin-left: 0;
}
.dwqa-list-question .dwqa-footer-meta {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    margin: 0;
    width: auto;
}
/*@media (max-width:480px) {
    .dwqa-list-question .dwqa-footer-meta {
    position: static;
    overflow: hidden;
    padding: 5px 0 0 70px;
}*/
    
}.dwqa-list-question .dwqa-comment, .dwqa-list-question .dwqa-view, .dwqa-list-question .dwqa-vote {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    float: left;
    margin-left: 14px;
    font-size: 11px;
}
@media (max-width:480px) {
    .dwqa-list-question .dwqa-comment, .dwqa-list-question .dwqa-view, .dwqa-list-question .dwqa-vote {
    width: auto;
    height: auto;
    border: none;
    margin: 0 10px 0 0;
}
}.dwqa-list-question .dwqa-comment strong, .dwqa-list-question .dwqa-view strong, .dwqa-list-question .dwqa-vote strong {
    display: block;
    line-height: 20px;
    margin-top: 5px;
    font-size: 120%;
    font-weight: 500;
    color: #666;
}
@media (max-width:480px) {
    .dwqa-list-question .dwqa-comment strong, .dwqa-list-question .dwqa-view strong, .dwqa-list-question .dwqa-vote strong {
    display: inline;
}
}.dwqa-list-question .archive-question-footer {
    padding: 15px 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-top: 0;
}
.dwqa-list-question .pagination {
    text-align: center;
    float: left;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
}
@media (max-width:480px) {
    .dwqa-list-question .pagination {
    float: none;
    display: block;
    width: 100%;
    overflow: hidden;
}
}.dwqa-list-question .pagination ul {
    margin: 0;
    padding: 0;
    float: left;
}
@media (max-width:480px) {
    .dwqa-list-question .pagination ul {
    float: none;
}
}.dwqa-list-question .pagination ul>li {
    display: inline !important;
}
.dwqa-list-question .pagination ul>li>a, .dwqa-list-question .pagination ul>li span {
    float: left;
    padding: 0 12px;
    line-height: 28px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    margin: 0;
}
.dwqa-list-question .pagination ul>li>a:hover, .dwqa-list-question .pagination ul>li span:hover {
    color: #222;
}
.dwqa-list-question .pagination ul>li:first-child>a, .dwqa-list-question .pagination ul>li:first-child>span {
    border-left-width: 1px;
}
.dwqa-list-question .pagination ul>.active>a, .dwqa-list-question .pagination ul>.active>span, .dwqa-list-question .pagination ul>li>span.current {
    color: #999;
    cursor: default;
}
.dwqa-list-question .pagination ul>li>a:hover, .dwqa-list-question .pagination ul>li>a:focus, .dwqa-list-question .pagination ul>.active>a, .dwqa-list-question .pagination ul>.active>span, .dwqa-list-question .pagination ul>li>span.current {
    background-color: #f5f5f5;
}
.dwqa-list-question .pagination ul li a:hover {
    background: #e6e6e6 !important;
    filter: none !important;
    border-color: #ddd;
}
.dwqa-list-question .pagination ul li.dwqa-hide a, .dwqa-list-question .pagination ul li.current a {
    background: none !important;
    filter: none !important;
    color: #999;
    cursor: inherit !important;
}
.dwqa-list-question .archive-question-footer .dwqa-btn {
    float: right;
    margin: 0;
}
@media (max-width:480px) {
    .dwqa-list-question .archive-question-footer .dwqa-btn {
    float: none;
    margin-top: 10px;
    display: block;
}
}.single-dwqa-question .dwqa-question.hentry {
    margin-bottom: 50px;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width:767px) {
    .single-dwqa-question .dwqa-question.hentry {
    padding-left: 0;
}
}.single-dwqa-question .dwqa-question.hentry .entry-header {
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
}
.dwqa-single-question input[type="submit"]:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dwqa-single-question article {
    border: none;
    margin: 0;
    padding: 0;
}
.dwqa-single-question textarea {
    width: 100%;
    min-height: 40px;
    padding: 5px 10px;
    resize: vertical;
    margin: 0 0 10px 0;
    outline: 0;
    overflow-y: hidden;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-single-question .dwqa-title {
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
}
.dwqa-single-question .dwqa-headline {
    font-size: 18px;
    padding: 15px 0;
    margin: 0;
    border-top: 1px solid #e5e5e5;
}
.dwqa-single-question .dwqa-vote {
    display: inline-block;
    text-align: center;
}
.dwqa-single-question .dwqa-vote a {
    text-indent: -9999px;
    position: relative;
    width: 30px;
    height: 20px;
    font-size: 11px;
    line-height: 40px;
    padding: 0;
    font-weight: 600;
    box-shadow: none;
    display: inline-block;
    color: #333;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-single-question .dwqa-vote a:before {
    content: "";
    border-bottom: 12px solid #555;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    top: 8px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
}
.dwqa-single-question .dwqa-vote .dwqa-vote-up:hover:before {
    border-bottom-color: #333;
}
.dwqa-single-question .dwqa-vote .dwqa-vote-down:hover:before {
    border-top-color: #333;
}
.dwqa-single-question .dwqa-vote .dwqa-vote-down:before {
    border-top: 12px solid #555;
    border-bottom: none;
}
.dwqa-single-question .dwqa-vote .dwqa-vote-count {
    font-size: 17px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}
.dwqa-single-question .dropdown-toggle, .dwqa-single-question .dwqa-favourite {
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background: transparent;
    margin: 0;
    border: none;
    color: initial;
    height: auto;
    line-height: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dwqa-single-question .dropdown-toggle:hover, .dwqa-single-question .open .dropdown-toggle {
    color: #fff !important;
    background: #333 !important;
}
.dwqa-single-question .dwqa-dropdown-menu {
    margin-top: 10px;
    right: 0;
}
.dwqa-single-question .dwqa-dropdown-menu li {
    width: 100%}
.dwqa-single-question .dwqa-dropdown-menu a {
    color: initial;
}
.dwqa-single-question .dropdown-toggle.circle {
    border-radius: 50%;
    padding: 0;
    line-height: 26px;
    width: 26px;
    height: 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-single-question .dropdown-toggle.circle .fa {
    margin: 0;
}
.dwqa-single-question .dropdown-toggle.circle+.dwqa-dropdown-menu {
    right: -5px;
}
.dwqa-single-question .dwqa-status-name, .dwqa-single-question .dwqa-current-privacy {
    padding: 3px 15px;
    display: inline-block;
    text-transform: capitalize;
    border-radius: 20px;
}
.dwqa-single-question .dwqa-current-status .dropdown-toggle, .dwqa-single-question .dwqa-current-status .dwqa-status-name, .dwqa-single-question .dwqa-question .dwqa-actions .dropdown-toggle {
    background: #555;
    color: #fff;
}
.dwqa-single-question .status-re-open .dropdown-toggle, .dwqa-single-question .status-open .dropdown-toggle, .dwqa-single-question .status-re-open .dwqa-status-name, .dwqa-single-question .status-open .dwqa-status-name {
    background: #fd8345;
}
.dwqa-single-question .status-pending .dropdown-toggle, .dwqa-single-question .status-pending .dwqa-status-name {
    background: #cd7bdd;
}
.dwqa-single-question .status-resolved .dropdown-toggle, .dwqa-single-question .status-resolved .dwqa-status-name {
    background: #578824;
}
.dwqa-single-question .status-closed .dropdown-toggle, .dwqa-single-question .status-closed .dwqa-status-name {
    background: #000;
}
@media (max-width:767px) {
    .dwqa-single-question .dwqa-change-privacy span {
    font-size: 0;
}
.dwqa-single-question .dwqa-change-privacy span .fa {
    font-size: 14px;
}
}.dwqa-single-question .dwqa-favourite {
    padding: 3px 15px;
    width: 60px;
    background: #555;
    color: #fff;
}
@media (max-width:479px) {
    .dwqa-single-question .dwqa-favourite {
    padding-left: 13px;
    padding-right: 13px;
}
}.dwqa-single-question .dwqa-favourite:hover {
    background: #333;
}
.dwqa-single-question .dwqa-favourite .dwpa_following, .dwqa-single-question .dwqa-favourite .dwpa_unfollow {
    display: none;
}
.dwqa-single-question .dwqa-favourite.active .dwpa_follow {
    display: none;
}
.dwqa-single-question .dwqa-favourite.active .dwpa_following {
    display: block;
}
.dwqa-single-question .dwqa-favourite.active:hover .dwpa_following {
    display: none;
}
.dwqa-single-question .dwqa-favourite.active:hover .dwpa_unfollow {
    display: block;
}
.dwqa-single-question .dwqa-stick-question {
    text-align: center;
}
.dwqa-single-question .dwqa-stick-question i {
    text-align: center;
    font-size: 24px;
    color: #555;
}
.dwqa-single-question .dwqa-stick-question:hover {
    cursor: pointer;
}
.dwqa-single-question .dwqa-stick-question:hover i, .dwqa-single-question .dwqa-stick-question.active i {
    color: #f00;
}
.dwqa-single-question .dwqa-best-answer i {
    text-align: center;
    font-size: 18px;
    color: #555;
}
@media (min-width:768px) {
    .dwqa-single-question .dwqa-best-answer i {
    font-size: 24px;
}
}.dwqa-single-question .dwqa-best-answer:hover i, .dwqa-single-question .dwqa-best-answer.active i {
    color: #578824;
}
.dwqa-single-question .dwqa-best-answer:hover {
    cursor: pointer;
}
.dwqa-single-question .avatar {
    text-align: center;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (max-width:479px) {
    .dwqa-single-question .avatar {
    display: none;
}
}.dwqa-single-question .dwqa-answers-page-navigation-head {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,  0,  0,  0);
    border: 0;
}
.dwqa-single-question .dwqa-answers-page-navigation {
    list-style: none;
    margin: 0;
    padding: 10px 0 13px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
.dwqa-single-question .dwqa-answers-page-navigation li {
    display: inline-block;
    margin: 1px 0 -1px -1px;
}
.dwqa-single-question .dwqa-answers-page-navigation a {
    padding: 6px 12px;
    display: block;
    border: 1px solid #e5e5e5;
}
.dwqa-single-question .dwqa-answers-page-navigation a:hover {
    background: #e6e6e6;
}
.dwqa-single-question .dwqa-answers-page-navigation .active a {
    background: #f5f5f5;
}
.dwqa-single-question .author {
    font-weight: bold;
}
.dwqa-single-question .author .dwqa-staff {
    vertical-align: baseline;
}
@media (max-width:479px) {
    .dwqa-single-question .author a {
    display: block;
}
}.dwqa-single-question .dwqa-date a {
    color: #999;
}
.dwqa-single-question .dwqa-tag a {
    background: #f3f3f3;
    padding: 2px 10px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}
.dwqa-single-question .dwqa-tag a:hover {
    background: #e5e5e5;
}
.dwqa-single-question .loading {
    background: url('../img/facebook-loading.gif') no-repeat center left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}
.dwqa-single-question .alert {
    background: #fdfcf2;
    border: 1px solid #dbd7c0;
    margin: 0;
    color: #544531;
    padding: 8px 35px 8px 15px;
}
.dwqa-single-question .alert p {
    margin: 0;
}
.dwqa-single-question .alert i {
    padding-right: 10px;
}
.dwqa-single-question .dwqa-footer-share {
    margin: 30px 0 0 0;
    background: #fff;
    border-bottom: 0;
    border-top: 1px solid #eee;
    position: relative;
}
@media (min-width:768px) {
    .dwqa-single-question .dwqa-footer-share {
    margin-left: 80px;
}
}.dwqa-single-question .dwqa-footer-share .dwqa-sharing {
    display: block;
    font-size: 12px;
    position: relative;
    line-height: 0;
    border-bottom: 1px solid #eee;
}
.dwqa-single-question .dwqa-footer-share .dwqa-sharing strong {
    padding: 0 20px;
    color: #555;
}
.tribe-theme-twentyfourteen .dwqa-single-question .dwqa-footer-share .dwqa-sharing strong {
    display: none;
}
@media (max-width:480px) {
    .dwqa-single-question .dwqa-footer-share .dwqa-sharing strong {
    display: none;
}
}.dwqa-single-question .dwqa-footer-share .dwqa-sharing ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-left: solid 1px #eee;
    vertical-align: middle;
}
.dwqa-single-question .dwqa-footer-share .dwqa-sharing li {
    float: left;
    border-right: solid 1px #eee;
    margin: 0;
    padding: 0;
}
.dwqa-single-question .dwqa-footer-share .dwqa-sharing li:hover, .dwqa-single-question .dwqa-footer-share .dwqa-sharing li .dwqa-active {
    background-color: #f3f3f3;
}
.dwqa-single-question .dwqa-footer-share .dwqa-sharing a {
    width: 48px;
    text-align: center;
    padding: 7px 0;
    display: inline-block;
}
@media (max-width:480px) {
    .dwqa-single-question .dwqa-footer-share .dwqa-sharing a {
    width: 40px;
}
}.dwqa-single-question .dwqa-footer-share .dwqa-sharing i {
    font-size: 14px;
    color: #999;
}
.dwqa-single-question .dwqa-footer-share #dwqa-embed-code {
    height: 70px;
    margin: 0 0 20px 0;
    padding: 2px;
    width: 100%;
    resize: vertical;
    clear: both;
    float: none;
    line-height: 1.3;
}
@media (max-width:480px) {
    .dwqa-single-question .dwqa-footer-share #dwqa-iframe-preview {
    width: 100%!important;
}
}@media (max-width:479px) {
    .dwqa-single-question .dwqa-footer-share .dwqa-embed-setting>.dwqa-embed-label {
    display: none;
}
}.dwqa-single-question .dwqa-status-draft:before {
    background-image: url('../img/draft.png');
    display: block;
    height: 8px;
    margin: -30px 0 22px 0;
    position: relative;
    z-index: 1;
    content: ""}
.dwqa-single-question .dwqa-question, .dwqa-single-question .dwqa-answer {
    position: relative;
}
.dwqa-single-question .dwqa-question .dwqa-meta {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin-bottom: 10px;
}
.dwqa-single-question .dwqa-question .dwqa-meta:before, .dwqa-single-question .dwqa-question .dwqa-meta:after {
    content: " ";
    display: table;
}
.dwqa-single-question .dwqa-question .dwqa-meta:after {
    clear: both;
}
@media (min-width:768px) {
    .dwqa-single-question .dwqa-question .dwqa-meta {
    margin-bottom: 20px;
}
}.dwqa-single-question .dwqa-question .dwqa-vote {
    position: absolute;
    left: -50px;
    top: -15px;
}
@media (max-width:767px) {
    .dwqa-single-question .dwqa-question .dwqa-vote {
    display: none;
}
}.dwqa-single-question .dwqa-question .dwqa-current-status, .dwqa-single-question .dwqa-question .dwqa-change-privacy, .dwqa-single-question .dwqa-question .dwqa-privacy, .dwqa-single-question .dwqa-question .dwqa-category {
    float: left;
    margin-right: 5px;
}
.dwqa-single-question .dwqa-question .dwqa-category {
    line-height: 26px;
}
@media (max-width:480px) {
    .dwqa-single-question .dwqa-question .dwqa-category {
    display: none;
}
}.dwqa-single-question .dwqa-question .dwqa-actions {
    float: right;
}
.dwqa-single-question .dwqa-question .dwqa-favourite {
    float: right;
    margin-right: 5px;
}
.dwqa-single-question .dwqa-question .dwqa-stick-question {
    position: absolute;
    left: -43px;
    top: 65px;
}
@media (max-width:767px) {
    .dwqa-single-question .dwqa-question .dwqa-stick-question {
    display: none;
}
}.dwqa-single-question .dwqa-question .dwqa-author, .dwqa-single-question .dwqa-answer .dwqa-author {
    position: relative;
    display: inline-block;
}
@media (max-width:767px) {
    .dwqa-single-question .dwqa-question .dwqa-author .avatar, .dwqa-single-question .dwqa-answer .dwqa-author .avatar {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    vertical-align: middle;
}
}@media (min-width:768px) {
    .dwqa-single-question .dwqa-question .dwqa-author, .dwqa-single-question .dwqa-answer .dwqa-author {
    padding-left: 80px;
}
.dwqa-single-question .dwqa-question .dwqa-author .avatar, .dwqa-single-question .dwqa-answer .dwqa-author .avatar {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 64px;
    width: 64px;
    height: 64px;
}
}.dwqa-single-question .dwqa-question .dwqa-content>form, .dwqa-single-question .dwqa-answer .dwqa-content>form {
    margin-top: 10px;
}
.dwqa-single-question .dwqa-question .dwqa-content .dwqa-question-form-btn, .dwqa-single-question .dwqa-answer .dwqa-content .dwqa-question-form-btn {
    text-align: right;
    margin: 0;
}
.dwqa-single-question .dwqa-question #dwqa-question-title {
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width:768px) {
    .dwqa-single-question .dwqa-question .dwqa-content, .dwqa-single-question .dwqa-question .dwqa-tags, .dwqa-single-question .dwqa-answer .dwqa-content {
    margin-left: 80px;
}
}.dwqa-single-question .dwqa-question .dwqa-tags {
    margin-top: 30px;
}
.dwqa-single-question .dwqa-answer {
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
}
.dwqa-single-question .dwqa-answer .dwqa-vote {
    position: absolute;
    left: -50px;
    top: 25px;
}
@media (max-width:767px) {
    .dwqa-single-question .dwqa-answer .dwqa-vote {
    display: none;
}
}.dwqa-single-question .dwqa-answer .dwqa-best-answer {
    text-align: center;
    margin-right: 10px;
}
@media (min-width:768px) {
    .dwqa-single-question .dwqa-answer .dwqa-best-answer {
    position: absolute;
    left: -45px;
    top: 105px;
}
}.dwqa-single-question .dwqa-answer .dwqa-actions {
    float: right;
    margin-left: 5px;
}
.dwqa-single-question .dwqa-answer .dwqa-privacy {
    float: right;
}
.dwqa-single-question .dwqa-answer .dwqa-current-privacy {
    padding-right: 0;
}
@media (min-width:768px) {
    .dwqa-single-question .dwqa-answer .dwqa-author {
    padding-top: 3px;
}
}.dwqa-single-question .dwqa-answer .dwqa-content .dwqa-privacy {
    display: none;
}
.dwqa-single-question .dwqa-answer .dwqa-content .dwqa-answer-form-btn {
    text-align: right;
    margin: 0;
}
.dwqa-single-question .dwqa-answer .dwqa-content .alert {
    margin: 15px 0;
}
.dwqa-single-question .dwqa-answer .dwqa-anchor {
    text-align: right;
    display: block;
}
.dwqa-single-question .dwqa-status-draft .dwqa-content>form {
    margin-bottom: 80px;
}
.dwqa-single-question .dwqa-status-draft .dwqa-content .dwqa-privacy {
    display: block;
    float: left;
}
.dwqa-single-question .dwqa-status-draft .dwqa-content .dwqa-answer-form-btn {
    float: right;
}
.dwqa-single-question .dwqa-answer-form .form-buttons {
    float: right;
}
.dwqa-single-question .dwqa-answer-form .dwqa-dropdown-caret {
    left: 15px;
}
.dwqa-single-question .dwqa-answer-form .dwqa-dropdown-menu {
    left: 0;
}
.dwqa-single-question .dwqa-answer-form .alert {
    margin-bottom: 15px;
}
.dwqa-single-question .dwqa-comment-list {
    margin: 0;
    padding: 0;
}
.dwqa-single-question .dwqa-comments {
    margin-top: 30px;
}
@media (min-width:768px) {
    .dwqa-single-question .dwqa-comments {
    margin-left: 80px;
}
}.dwqa-single-question .dwqa-comments .alert {
    margin: 0 0 15px;
}
.dwqa-single-question .dwqa-comment-form {
    position: relative;
    background: #f3f3f3;
    border-top: 1px solid #e6e6e6;
    padding: 15px 20px 15px 20px;
}
@media (min-width:480px) {
    .dwqa-single-question .dwqa-comment-form {
    padding-left: 70px;
}
}.dwqa-single-question .dwqa-comment-form .avatar {
    position: absolute;
    top: 15px;
    left: 20px;
}
.dwqa-single-question .dwqa-comment-form .comment-form-email {
    margin: 0;
    width: 100%}
.dwqa-single-question .dwqa-comment-form textarea {
    height: 40px;
}
.dwqa-single-question .dwqa-comment-form input[type="submit"] {
    float: right;
    z-index: 1;
    position: relative;
}
.dwqa-single-question .dwqa-comment-form .dwqa-form-submit {
    overflow: hidden;
    margin: 0;
}
.dwqa-single-question .dwqa-comment {
    overflow: hidden;
    background: #f3f3f3;
    border-top: 1px solid #e6e6e6;
    padding: 15px 20px 0 20px;
    list-style: none;
    margin: 0;
    position: relative;
    min-height: 90px;
}
@media (min-width:480px) {
    .dwqa-single-question .dwqa-comment {
    padding-left: 70px;
}
}.dwqa-single-question .dwqa-comment:before, .dwqa-single-question .dwqa-comment:after {
    border: 0;
}
.dwqa-single-question .dwqa-comment:last-child {
    border-bottom: 0;
}
.dwqa-single-question .dwqa-comment-author .avatar {
    position: absolute;
    top: 15px;
    left: 20px;
}
.dwqa-single-question .dwqa-comment-actions {
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
}
.dwqa-single-question .dwqa-comment:hover .dwqa-comment-actions {
    display: block;
}
.dwqa-submit-question {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-submit-question.loading {
    opacity: .3;
    filter: alpha(opacity=30);
}
.dwqa-submit-question.loading:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/loading.gif) no-repeat center 40%;
    z-index: 1;
}
.dwqa-submit-question input[type="text"], .dwqa-submit-question input[type="password"], .dwqa-submit-question input[type="email"], .dwqa-submit-question textarea, .dwqa-submit-question select, .dwqa-submit-question .input-text {
    border: 1px solid #ddd;
}
.dwqa-submit-question input[type="text"]:focus, .dwqa-submit-question input[type="password"]:focus, .dwqa-submit-question input[type="email"]:focus, .dwqa-submit-question textarea:focus, .dwqa-submit-question select:focus, .dwqa-submit-question .input-text:focus {
    border: 1px solid #888;
    color: #555;
    outline: 0;
    outline-offset: 0;
}
.dwqa-submit-question textarea {
    margin: 0 0 4px 0;
    padding: 5px 10px;
    resize: vertical;
    min-height: 120px;
    height: 120px;
    box-shadow: none;
    width: 100%;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-submit-question input, .dwqa-submit-question select {
    margin: 0;
}
.dwqa-submit-question input.required, .dwqa-submit-question select.required {
    border-color: #e8b3b3;
}
.dwqa-submit-question input.required::-webkit-input-placeholder, .dwqa-submit-question select.required::-webkit-input-placeholder {
    color: #b94a48;
}
.dwqa-submit-question input.required:-moz-placeholder, .dwqa-submit-question select.required:-moz-placeholder {
    color: #b94a48;
}
.dwqa-submit-question input.required::-moz-placeholder, .dwqa-submit-question select.required::-moz-placeholder {
    color: #b94a48;
}
.dwqa-submit-question input.required:-ms-input-placeholder, .dwqa-submit-question select.required:-ms-input-placeholder {
    color: #b94a48;
}
.dwqa-submit-question label {
    display: block;
    margin-bottom: 15px;
}
.dwqa-submit-question #dwqa-submit-question-form {
    margin-bottom: 0;
}
.dwqa-submit-question .question-meta, .dwqa-submit-question .input-title, .dwqa-submit-question .input-content, .dwqa-submit-question .checkbox-private, .dwqa-submit-question .question-signin {
    margin-bottom: 20px;
}
.dwqa-submit-question .question-meta:before, .dwqa-submit-question .question-meta:after {
    content: " ";
    display: table;
}
.dwqa-submit-question .question-meta:after {
    clear: both;
}
.dwqa-submit-question .question-meta .select-category, .dwqa-submit-question .question-meta .input-tag {
    width: 48%;
    float: left;
}
.dwqa-submit-question .question-meta .select-category select, .dwqa-submit-question .question-meta .input-tag input {
    padding: 5px 15px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-submit-question .question-meta .input-tag {
    float: right;
}
@media (max-width:480px) {
    .dwqa-submit-question .question-meta .select-category, .dwqa-submit-question .question-meta .input-tag {
    width: 100%;
    float: none;
}
.dwqa-submit-question .question-meta .input-tag {
    margin-top: 20px;
}
}.dwqa-submit-question .input-title {
    position: relative;
}
.dwqa-submit-question .input-title #question-title {
    font-size: 14px;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-submit-question .input-title .dwqa-search-clear, .dwqa-submit-question .input-title .dwqa-search-loading {
    position: absolute;
    right: 6px;
    top: 38px;
    width: 40px;
    line-height: 34px;
    padding: 0px;
    text-align: center;
    color: #3a3a3a;
    border: none;
    background-color: transparent;
}
.dwqa-submit-question .input-title .dwqa-search-clear:hover, .dwqa-submit-question .input-title .dwqa-search-loading:hover {
    color: #1ba1e2;
}
.dwqa-submit-question .input-title .dwqa-search-clear {
    cursor: pointer;
}
.dwqa-submit-question .input-title .dwqa-search-loading {
    background: url('../img/facebook-loading.gif') no-repeat center;
    height: 34px;
}
.dwqa-submit-question .search-results-suggest {
    position: relative;
}
.dwqa-submit-question .checkbox-private input {
    margin: 0 3px 0 0;
}
.dwqa-submit-question .dw-question input[type="checkbox"] {
    -webkit-appearance: checkbox;
}
.dwqa-submit-question .question-signin {
    position: relative;
    overflow: hidden;
}
.dwqa-submit-question .question-register, .dwqa-submit-question .question-login {
    position: absolute;
    width: 100%}
.dwqa-submit-question .question-register .register-input, .dwqa-submit-question .question-login .login-input {
    width: 48%;
    float: left;
}
.dwqa-submit-question .question-register .register-username, .dwqa-submit-question .question-login .login-password {
    float: right;
}
.dwqa-submit-question .question-register input, .dwqa-submit-question .question-login input {
    padding: 5px 15px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-submit-question .login-switch {
    clear: both;
}
.dwqa-submit-question .user-email #_dwqa_anonymous_email {
    font-size: 14px;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-submit-question .user-email .description {
    font-size: 12px;
    font-weight: normal;
}
.dwqa-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dwqa-widget li:first-child {
    padding-top: 0;
}
.dwqa-widget li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.dwqa-widget li {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 11px;
}
.dwqa-widget .question-title {
    font-weight: bold;
    font-size: 14px;
    display: block;
}
.dwqa-container {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #fff;
    color: #555;
    position: relative;
    margin-bottom: 20px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-container p, .dwqa-container .dwqa-comment-content {
    margin: 1em 0;
}
.dwqa-container form {
    margin: 0;
    padding: 0;
}
.dwqa-container textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.dwqa-container input[type="text"], .dwqa-container input[type="password"], .dwqa-container input[type="email"], .dwqa-container textarea, .dwqa-container textarea:focus, .dwqa-container textarea:hover, .dwqa-container select, .dwqa-container .input-text {
    border: 1px solid #ddd;
}
.dwqa-container label {
    font-weight: bold;
}
body .dwqa-container a {
    color: #222;
    text-decoration: none;
    -webkit-transition: all 0s;
    transition: all 0s;
}
.dwqa-container img {
    max-width: 100%;
    height: auto;
}
.dwqa-container .avatar {
    background: #fff;
}
.dwqa-container .dwqa-label {
    background: #555;
    color: #fff;
    padding: 1px 5px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.dwqa-container .dwqa-label.dwqa-staff {
    color: #fd8345;
    background: transparent;
    padding: 0;
}
.dwqa-container .dwqa-label.dwqa-draft {
    background: #cd7bdd;
}
.dwqa-container .dwqa-label.dwqa-private {
    background: #aaa;
}
.dwqa-container .dwqa-label.dwqa-pending {
    background: #555;
}
.dwqa-container .dwqa-status {
    background: transparent;
    font: 0/0 a;
    margin: 0 5px 0 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    border: none;
    position: absolute;
    left: 20px;
    top: 10px;
}
.dwqa-container .dwqa-status:before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-family: 'FontAwesome';
    text-decoration: inherit;
    font-weight: normal;
    font-style: normal;
    vertical-align: top;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    width: 100%}
.dwqa-container .dwqa-status.status-new:before {
    content: "\f128";
    color: #f8bd0a;
    font-size: 18px;
}
.dwqa-container .dwqa-status.status-open:before, .dwqa-container .dwqa-status.status-re-open:before {
    content: "\f128";
    color: #fd8345;
    font-size: 18px;
}
.dwqa-container .dwqa-status.status-answered:before {
    content: "\f112";
    color: #1ba1e2;
}
.dwqa-container .dwqa-status.status-resolved:before {
    content: "\f00c" !important;
    color: #578824;
}
.dwqa-container .dwqa-status.status-closed:before {
    content: "\f023";
    color: #000;
}
.dwqa-container .dwqa-status .staff-answered {
    border: 1px solid #1ba1e2 !important;
}
.dwqa-container .dwqa-status .staff-answered:before {
    content: "\f112";
    color: #1ba1e2;
}
.dwqa-container .dwqa-status.status-overdue {
    border: 1px solid #f00 !important;
}
.dwqa-container .dwqa-status.status-overdue:before {
    color: #f00;
}
.dwqa-container .dwqa-status.status-new {
    border: 1px solid #f8bd0a;
}
.dwqa-container .dwqa-status.status-open, .dwqa-container .dwqa-status.status-re-open {
    border: 1px solid #fd8345;
}
.dwqa-container .dwqa-status.status-answered {
    border: 1px solid #1ba1e2;
}
.dwqa-container .dwqa-status.status-resolved {
    border: 1px solid #578824 !important;
}
.dwqa-container .dwqa-status.status-closed {
    border: 1px solid #000 !important;
}
.dwqa-container .dwqa-status.status-pending {
    border: 1px solid #cd7bdd;
}
.dwqa-container .alert {
    padding: 8px 35px 8px 14px;
    margin: 15px 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}
.dwqa-container .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 1.42857143;
}
.dwqa-container .alert, .dwqa-container .alert h4 {
    color: #c09853;
}
.dwqa-container .alert a {
    color: #c09853;
    font-weight: bold;
}
.dwqa-container .alert-success a {
    color: #468847;
}
.dwqa-container .alert-danger a, .dwqa-container .alert-error a {
    color: #b94a48;
}
.dwqa-container .alert-info a {
    color: #3a87ad;
}
.dwqa-container .alert a:hover, .dwqa-container .alert a:active, .dwqa-container .alert a:focus {
    color: #000 !important;
}
.dwqa-container .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.dwqa-container .alert-success h4 {
    color: #468847;
}
.dwqa-container .alert-danger, .dwqa-container .alert-error {
    background-color: #fdf2f2;
    border-color: #e8b3b3;
    color: #b94a48;
}
.dwqa-container .alert-danger h4, .dwqa-container .alert-error h4 {
    color: #b94a48;
}
.dwqa-container .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.dwqa-container .alert-info h4 {
    color: #3a87ad;
}
.dwqa-container .alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.dwqa-container .alert-block>p, .dwqa-container .alert-block>ul {
    margin-bottom: 0;
}
.dwqa-container .alert-block p+p {
    margin-top: 5px;
}
.dwqa-container .wp-editor-container {
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    width: 99.9%;
    width: calc(100% - 1px);
}
.dwqa-container #wp-dwqa-answer-question-editor-wrap {
    margin-bottom: 20px;
}
.dwqa-container #loginform {
    overflow: hidden;
    margin: 0;
    display: table;
    width: 100%}
.dwqa-container #loginform .input {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-container #loginform .login-username, .dwqa-container #loginform .login-password, .dwqa-container #loginform .login-submit {
    display: table-cell;
    margin: 0;
    width: 33.33333333%;
    padding: 0 10px;
    vertical-align: bottom;
}
@media (max-width:480px) {
    .dwqa-container #loginform .login-username, .dwqa-container #loginform .login-password, .dwqa-container #loginform .login-submit {
    display: block;
    width: 100% !important;
    margin: 0 0 5px 0 !important;
}
}.dwqa-container #loginform .login-remember {
    display: none;
}
.dwqa-container #loginform .login-submit input {
    width: 100%}
.dwqa-container#submit-question .login-submit {
    margin-top: 30px;
}
.dwqa-container .login-box {
    background: #f3f3f3;
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd !important;
    border-color: #eee #eee #cecece !important;
    -webkit-box-shadow: 0 1px 0 #efefef;
    box-shadow: 0 1px 0 #efefef;
}
.dwqa-container .login-box h3 {
    font-size: 14px !important;
}
@media (max-width:480px) {
    .dwqa-container .wp_themeSkin tr.mceFirst td.mceToolbar {
    display: none;
}
}.dwqa-hide, .dwqa-hide.fa {
    display: none;
}
.dwqa-search {
    margin-bottom: 20px;
}
.dwqa-search .dwqa-search-form {
    width: 100%;
    text-align: left;
    position: relative;
    height: 100%;
    background: #f3f3f3;
}
.dwqa-search .dwqa-search-form .dwqa-search-input {
    padding: 12px 6px 12px 18px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05) inset;
    font-size: 20px;
    height: 55px;
    width: 100%;
    color: #3a3a3a;
    border: 1px solid #ccc;
    outline: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dwqa-search .dwqa-search-form .dwqa-search-submit, .dwqa-search .dwqa-search-form .dwqa-search-clear, .dwqa-search .dwqa-search-form .dwqa-search-loading {
    position: absolute;
    right: 6px;
    top: 0;
    width: 40px;
    line-height: 55px;
    padding: 0px;
    text-align: center;
    color: #3a3a3a;
    border: none;
    background-color: transparent;
}
.dwqa-search .dwqa-search-form .dwqa-search-submit:hover, .dwqa-search .dwqa-search-form .dwqa-search-clear:hover, .dwqa-search .dwqa-search-form .dwqa-search-loading:hover {
    color: #1ba1e2;
}
.dwqa-search .dwqa-search-form .dwqa-search-submit {
    cursor: default;
}
.dwqa-search .dwqa-search-form .dwqa-search-clear {
    cursor: pointer;
}
.dwqa-search .dwqa-search-form .dwqa-search-loading {
    background: url('../img/facebook-loading.gif') no-repeat center;
    height: 100%}
.questions-list {
    border: 1px solid #ddd;
    border-top: none;
}
.questions-list.search-result {
    border-top: 1px solid #ddd;
}
.search-results-suggest {
    position: absolute;
    width: 100%;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-gradient(linear,  left 0,  left 100%,  from(#fff),  to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top,  #fff,  0,  rgba(255, 255, 255, 0),  100%);
    background-image: -moz-linear-gradient(top,  #fff 0,  rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to bottom,  #fff 0,  rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',  endColorstr='#00ffffff',  GradientType=0);
}
.search-results-suggest ul {
    list-style: none;
    margin: 0 5px;
    padding: 0;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.search-results-suggest li {
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    margin: 0;
}
.search-results-suggest li:hover {
    background: #fffac2;
}
.search-results-suggest li a {
    color: #555;
    display: block;
    padding: 10px 15px;
}
.search-results-suggest li a strong {
    color: #000;
}
.search-results-suggest li.no-link {
    background: transparent;
}
.search-results-suggest li:last-child {
    border-bottom: none;
}
.search-results-suggest span {
    padding: 10px 20px 350px 20px;
    display: block;
}