/*
 Theme Name:   base-wp
 Theme URI:    
 Description:  Modified base-wp theme.
 Author:       Elie TURC
 Template:     base-wp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, grey, two-columns, right-sidedar, responsive-layout, accessibility-ready
 Text Domain:  base-wp-child
*/

/*Colors used in the theme*/
    .blue{color: #3AA9E2;}
    .red{color: #eb3838;}
    .green{color: #49b949;}
    .orange{color: #f09840;}
    .yellow{color: #f2e900;}

/*Position*/
    .right{float: right;}
    .left{float: left;}


/*Remove shadow under Nav bar*/
.wide.contenitor{
		background: none;
}


/*Nav item*/
    .main-navigation li:hover > a {
      background: #fff;
      color: #888;
    }

    .main-navigation li:hover > a > i {
      color: #3AA9E2;
    }


/*Nav Item Active*/
    .main-navigation .current_page_item a, .main-navigation .current-menu-item a {
      border-bottom: medium solid #3AA9E2;
    }

    .main-navigation .current_page_item a, .main-navigation .current-menu-item a > i{
      color: #3AA9E2;
    }

/*Sub Nav Item*/
    .main-navigation ul ul a {
        background: #555 none repeat scroll 0% 0%;
        color: #FFF;
        border-left: medium solid #555;
        width: 250px;
    }
    .main-navigation .current_page_item ul ul a, .main-navigation .current-menu-item ul ul a {
        border-bottom: medium solid #3AA9E2;
    }

/*Sub Nav Item :: hover*/
    .main-navigation ul ul a:hover {
        background: #555 none repeat scroll 0% 0%;
        color: #FFF;
        border-left: medium solid #3AA9E2;
    }


/*All links*/
    a:hover, a:focus, a:active {
      font-weight: 300;
      color: #3AA9E2;
    }
    a.active{color: #3AA9E2;}

/*All buttons*/
    button:hover{
        background-color: #3AA9E2;
        color: #FFF;
    }

input[type="submit"]{
    float: right;
}

/*Submit button :: hover*/
    input[type="submit"]:hover, .btn-submit-question, #wpuf-attachment-upload-pickfiles:hover {
        padding: 10px 15px;
        background-color: #3AA9E2;
        transition: none;
    }
/*Override the default submit button*/
    .wpuf-post-form input[type=submit]:hover, .wpuf-submit:hover, .wpuf-button:hover {
        padding: 10px 15px;
        background-color: #3AA9E2;
        color: #FFF;
        transition: none;
    }
.dwqa-container a
    background-color: black;
}

/*Override the switch editor button*/
    .wp-switch-editor{
        height: auto !important;
        padding: 3px 8px !important;
        background-color: inherit !important;
        transition: none !important;
    }

    .wp-switch-editor:hover{
        background-color: inherit !important;
        height: auto !important;
        color: #FFF !important;
        background-color: #3AA9E2 !important;
    }

/*Override the wpuf-button class*/
    .wpuf-button, #wpuf-attachment-upload-pickfiles, .btn-submit-question{
        background-color: #444;
        border: medium none;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        margin: auto;
        padding: 10px 15px;
        text-decoration: none;

    }

/*Override the attachments upload button style*/
#wpuf-attachment-upload-pickfiles{
    font-weight: 300;
}

/*"Follow" Button on a question*/
    .dwqa-single-question .dwqa-favourite {
      width: auto;
    }

    .dwqa-single-question .dwqa-favourite:hover {
      background-color: #3AA9E2;
    }

@media screen and (max-width: 480px){
    .dwqa-single-question .dwqa-favourite {
      width: 100%;
    }
}


/*"Options" Button of a question */
    }
.dwqa-single-question:hover .dwqa-question:hover .dwqa-actions:hover .dropdown-toggle:hover {
  background: #3AA9E2;
}